<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="SharedSecret" value="vpjk,kp6j'dy[d^g]potd^0tg-hkisyl" />
    <add key="admin" value="adminonyx" />
    <add key="ldap" value="LDAP://onyx-hq/CN=Builtin,DC=ONYX-HOSPITALITY,DC=GROUP" />
  </appSettings>
</configuration>
