body {
    padding: 5 0 0 0;
	margin: 0px; 
	font-family: Verdana; 
	font-size: 12pt;  
	background-color:white;
}
A:link {
	font-size: 10pt;
	font-weight: bold;
	color: rgb(0, 51, 102);
	text-decoration: none;
}
A:visited {
	font-size: 10pt;
	font-weight: bold;
	color: rgb(0, 51, 102);
	text-decoration: none;
}
A:active {
	font-size: 10pt;
	font-weight: bold;
	color: rgb(0, 51, 102);
	text-decoration: underline;
}
A:hover {
	font-size: 10pt;
	font-weight: bold;
	color: rgb(0, 51, 102);
	text-decoration: underline;
}
TABLE {
	font-size: 10pt; 
	font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
	line-height: 15px; 
}
INPUT {
    font-size: 10pt;
    font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
    color: #3d3d3d;
}
TEXTAREA {
	font-size: 10pt;
    font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
    color: #3d3d3d;
}
SELECT {
	font-size: 10pt;
    font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
    color: #3d3d3d;
}
.clsRadio {
	border-right: medium none; 
	border-top: medium none; 
	border-left: medium none; 
	border-bottom: medium none; 
}
.clsCheck {
	border-right: medium none; 
	border-top: medium none; 
	border-left: medium none; 
	border-bottom: medium none;  
}
.clsButton {
	border-right: 1px solid; 
	border-top: 1px solid; 
	border-left: 1px solid; 
	border-bottom: 1px solid; 
	border-color: #455a79; 
	font-weight: bold; 
	font-size: 10pt; 
	font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
	background-color: #486c9f; 
	color: #b9b9b9;
}
.TextBlack12 {
	font-size: 10pt; 
	font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
	line-height: 15px; 
	color: #ba9963;
    white-space: nowrap;
}
.Texthead {
	font-size: 12pt; 
	font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
	line-height: 15px; 
	color: #ba9963;
}
.asteric {
    color: #ba9963;
}
.redText {
    color: red;
}
.BlueText {
    color: rgb(0, 51, 102);
}
#copyright {
    text-align: right;
    padding-top: 20px;
    padding-right: 5px;
    width: auto;
    color: #ffffff;
    padding-bottom: 3;
    padding-left: 15;
    font-family: Verdana;
    font-style: italic;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(0, 51, 102);
    border-top-color: #336699;
    border-top-width: 6px;
    border-top-style: solid;
}
.headerMenuLabel {
    font-size: 15pt; 
	font-family: Tahoma, Verdana, Arial, helvetica, sans-serif; 
	line-height: 15px; 
	color: #6c4505;
	padding-bottom: 30px
}
.occupied {
    background-color:thistle
}
span.cellWithoutBackground
{
    display:block;
    background-image:none;
    margin-right:-2px;
    margin-left:-2px;
    height:14px;
    padding:4px;
}
.header {
    width: auto;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-family: Verdana;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(0, 51, 102);
    border-bottom-color: #336699;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}
