<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModelLib.Properties.Settings.MedalliaConnectionString" connectionString="Data Source=61.90.202.70;Initial Catalog=Medallia;Persist Security Info=True;User ID=medallia;Password=medexp" providerName="System.Data.SqlClient"/>
      
        <add name="DataModelLib.Properties.Settings.WebServiceConnectionString" connectionString="Data Source=SHQDSPS1\ONCOMOSQL;Initial Catalog=WebService;Persist Security Info=True;User ID=webservice;Password=&quot;vpjk,kp6j'&quot;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
