<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModelLib.Properties.Settings.MedalliaConnectionString"
            connectionString="Data Source=10.2.202.12;Initial Catalog=Medallia;Persist Security Info=True;User ID=medallia;Password=medexp"
            providerName="System.Data.SqlClient" />
        <add name="DataModelLib.Properties.Settings.WebServiceConnectionString"
            connectionString="Data Source=10.1.201.141\ITSQL;Initial Catalog=WebService;Persist Security Info=True;User ID=sa;Password=sa@onyx#sqlsa10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
