<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Webservice.Services.RestService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Webservice.Interfaces.IRestService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Webservice.Services.EmailService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Webservice.Interfaces.IEmailService" behaviorConfiguration="web">
        </endpoint>
      </service>
      <service name="Webservice.Services.GuestService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="Webservice.Interfaces.IGuestService" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"></webHttp>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>